.col-three {
	width: 33.3333333333%; /* изменение ширины объекта */
    float: left; /* выравнивает текст по правой или левой стороене, при этом остальные элементы будут обтекать данный объект*/
    text-align: center; /* выравнивание текста по центру */
	}
.menu {
	float: right;
	}
.logo {
	display: block; /* показывает как тот или иной документ должен быть отображен в документе */
	float: left; 
	padding: 20px; /* устанавливает отступы с внутренней стороны рамки */
	}
.container {
	margin: 0 auto; /* устанавливает величину отступа от каждого края элемента */
	width: 100%; 
	max-width: 960px; /* максимальный лимит ширины */
	}
footer {
	margin-top: 10px;
	height: 70px; /* изменение высоты объекта */
	line-height: 30px; /* изменение межстрочного интервала */
	}
.text {
    text-align:  center;
	}
.back {
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right: 320px;
	background: #bce3f5; /* устанавливает цвет фона объекта */
	}
.main_ground {
	font-family: Geneva, Arial, Helvetica, sans-serif; /* устанавливает семейство шрифта */
	background: #dae9f0;
	margin-left: 100px;
	margin-right: 100px;
	}
.body_text {
	font-size: 14pt; /* определяет размер шрифта элемента */
	}
.quotes {
	font-weight: 100; /* устанавливает насыщенность шрифта */
	font-size: 16pt;
	}
.signatures{
	font-size: 12pt;
	}
.move{
	padding-left: 240px;
	}
